
<div class="container mt-4">
    <ng-container *ngIf="orders">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="border-0 bg-light" scope="col">
                            <div class="p-2 px-3 text-center text-uppercase">Id</div>
                        </th>
                        <th class="border-0 bg-light" scope="col">
                            <div class="p-2 px-3 text-center text-uppercase">OrderDate</div>
                        </th>
                        <th class="border-0 bg-light" scope="col" >
                            <div class="p-2 px-3 text-center text-uppercase">Delivery</div>
                        </th>
                        <th class="border-0 bg-light" scope="col">
                            <div class="p-2 text-center px-3 text-uppercase">Total</div>
                        </th>
                        <th class="border-0 bg-light" scope="col">
                            <div class="p-2 text-center px-3 text-uppercase">Status</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders" style="cursor: pointer;" (click)="details(order)">
                        <td class="align-middle text-center"><strong>#{{order.id}}</strong>
                        </td>
                        <td class="align-middle text-center">{{order.orderDate}}</td>
                        <td class="align-middle text-center">{{order.deliveryMethod}}</td>
                        <td class="align-middle text-right"><strong>{{order.total| currency}}</strong></td>
                        <td class="align-middle text-center">{{order.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-container>
    <ng-container *ngIf="!orders">
        <h4 class="text-danger">You have no order to show</h4>
    </ng-container>
</div>