<div class="container">
    <div class="row">
        <button class="btn btn-outline-primary mr-3" (click)="get400Error()">Test 400</button>
        <button class="btn btn-outline-primary mr-3" (click)="get400ValiError()">Test 400 Vali</button>
        <button class="btn btn-outline-primary mr-3" (click)="get404Error()">Test 404</button>
        <button class="btn btn-outline-primary mr-3" (click)="get500Error()">Test 500</button>
    </div>
            
    <span class="text-danger">{{validatorError}}</span>
</div>
